@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body{
    overflow-x: hidden;
  }
  @keyframes bounce {
    0% {
       transform: translateX(0px);
    }
    60% {
       transform: translateX(0px);
    }
    80% {
       transform: translateX(5px);
    }
    100% {
       transform: translateX(0px);
    }
 } 
 .left-to-right-bounce {
  animation: bounce 2s infinite;
}
.icons i:hover {
   transform: translateY(-5px);

}
.img:hover .firstProject{
   display: flex;
   flex-direction: column;
   
}

.button1:hover .fa-arrow-right{
   background-color: #ff3870;
   color: white;
}
.button2:hover .fa-github{
   color: rgb(67, 67, 67);
}
}